<template>
  <v-img
    class="NuxtLogo"
    :src="require('@/assets/image/logo.png')"
    :width="width"
    :max-width="$vuetify.breakpoint.mobile ? '80' : width"
    :height="height"
    contain
  />
</template>

<script>
/* eslint-disable */
export default {
  props: {
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '100%'
    }
  }
}
</script>

<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
