@media only screen and (max-width: 960px) {
  .section-1-bg {
    margin-top: 0!important;
    background-size: auto 100%!important;
    background-position: center center!important;
  }
  .section-1-content {
    padding-top: 72px!important;
  }
}
