<template>
  <v-app dark>
    <v-app-bar
      :class="[$vuetify.breakpoint.mobile ? '' : 'px-16', 'navbar-bg']"
      app
      flat
      style="top:0;position:absolute;"
    >
      <v-toolbar-title :class="[$vuetify.breakpoint.mobile ? '' : 'pl-16 ml-8']" @click="$router.push('/')">
        <Logo />
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="!$vuetify.breakpoint.mobile" dark>
        <v-btn @click="$router.push({ name: 'courses' })" depressed class="transparent text-capitalize white--text">
          Courses
        </v-btn>
        <v-btn depressed class="transparent text-capitalize white--text">
          Roadmap
        </v-btn>
        <v-btn depressed class="transparent text-capitalize white--text">
          Login
        </v-btn>
      </v-toolbar-items>
      <v-btn v-if="!$vuetify.breakpoint.mobile" color="orange" class="white--text text-capitalize rounded-xl">
          Sign Up
      </v-btn>
      <v-app-bar-nav-icon class="white--text transparent" v-if="$vuetify.breakpoint.mobile"></v-app-bar-nav-icon>
    </v-app-bar>
    <v-main class="grey lighten-5">
      <nuxt />
    </v-main>
    <v-footer
      :absolute="!fixed"
      app
      class="py-8 teal lighten-1"
    >
    <v-container >
      <span class="white--text">&copy; {{ new Date().getFullYear() }} Refactory - All Rights Reserved - Terms of Services / Privacy Policy</span>
    </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .navbar-bg {
    background-image: linear-gradient(90deg, #2852a2 21.72%, #35B4AE 75.43%);
  }
  ul {
    padding-left: 0px!important;
  }
  li {
    list-style: none;
  }
</style>
