<template>
  <v-app dark>
    <v-app-bar
      :class="[$vuetify.breakpoint.mobile ? 'cyan darken-4' : 'transparent px-16 mx-16']"
      app
      flat
      style="top:0;position:absolute;"
    >
      <v-toolbar-title :class="[$vuetify.breakpoint.mobile ? '' : 'pl-8']" @click="$router.push('/')">
        <Logo />
      </v-toolbar-title>
      <v-spacer />
      <v-toolbar-items v-if="!$vuetify.breakpoint.mobile" dark>
        <v-btn @click="$router.push('/')" depressed class="transparent text-capitalize white--text">
          Home
        </v-btn>
        <v-btn @click="$router.push({ name: 'course' })" depressed class="transparent text-capitalize white--text">
          Courses
        </v-btn>
        <v-btn depressed class="transparent text-capitalize white--text">
          Custom Training
        </v-btn>
        <v-btn depressed class="transparent text-capitalize white--text">
          Case Studies
        </v-btn>
        <v-btn @click="$router.push({ name: 'blog' })" depressed class="transparent text-capitalize white--text">
          Blog
        </v-btn>
      </v-toolbar-items>
      <v-app-bar-nav-icon class="white--text transparent" v-if="$vuetify.breakpoint.mobile"></v-app-bar-nav-icon>
    </v-app-bar>
    <v-main>
      <nuxt />
      <div style="background:#0c162a;">
        <v-container>
          <v-row>
            <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '2'">
              <p class="text-h6 white--text">Site Map</p>
              <ul>
                <li class="white--text">Home</li>
                <li class="white--text">Bootcamp</li>
                <li class="white--text">Software Development</li>
                <li class="white--text">Courses</li>
                <li class="white--text">Custom Training</li>
                <li class="white--text">Blog</li>
              </ul>
            </v-col>
            <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '2'">
              <p class="text-h6 white--text">Company</p>
              <ul>
                <li class="white--text">About Us</li>
                <li class="white--text">Career <span class="grey lighten-3 rounded-lg pa-1 black--text">We Are hiring</span></li>
                <li class="white--text">Press Kit</li>
                <li class="white--text">FAQ</li>
              </ul>
            </v-col>
            <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '2'">
              <p class="text-h6 white--text">Connect</p>
              <ul>
                <li class="white--text">Facebook</li>
                <li class="white--text">Instagram</li>
                <li class="white--text">Youtube</li>
                <li class="white--text">LinkedIn</li>
              </ul>
            </v-col>
            <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '3'">
              <v-icon color="white" class="teal lighten-2 rounded-circle pa-1 mr-2">mdi-linkedin</v-icon>
              <v-icon color="white" class="teal lighten-2 rounded-circle pa-1 mr-2">mdi-facebook</v-icon>
              <v-icon color="white" class="teal lighten-2 rounded-circle pa-1 mr-2">mdi-youtube</v-icon>
              <v-icon color="white" class="teal lighten-2 rounded-circle pa-1 mr-2">mdi-instagram</v-icon>
              <p class="text-h6 white--text">Company Address</p>
              <p class="mb-0 white--text">Jln. Palagan Tentara Pelajar Km. 9,8</p>
              <p class="mb-0 white--text">Ngaglik, Kab. Sleman</p>
              <p class="mb-0 white--text">DI Yogyakarta 55581</p>
            </v-col>
            <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '3'">
              <p class="text-h6 white--text">Contact</p>
              <p class="mb-0 white--text">marketing@refactory.id</p>
              <p class="mb-0 white--text">+62 8122 8203 381</p>
              <p class="mb-0 white--text mt-4">Dewita: 0857 2582 7222</p>
              <p class="mb-0 white--text">Septin: 0878 2080 0206</p>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-main>
    <v-footer
      :absolute="!fixed"
      app
      style="background:#0c162a;"
      class="py-8"
    >
    <v-container >
      <span class="white--text">&copy; {{ new Date().getFullYear() }} Refactory - All Rights Reserved - Terms of Services / Privacy Policy</span>
    </v-container>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    padding-left: 0px!important;
  }
  li {
    list-style: none;
  }
</style>
