<template>
  <v-container>
    <v-row>
      <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '8'">
        <v-row>
          <v-col cols="12">
            <v-img
              src="https://i1.wp.com/refactory.id/wp-content/uploads/2020/02/063-Refactory-HDYBAP017.jpg?fit=768%2C402&ssl=1"
              width="100%"
              contain
              class="rounded-lg"
            />
            <p class="orange--text text-h6 mt-4">GROWTH & CULTURE</p>
            <p class="text-h5">How Did You Become A Programmer?</p>
            <p class="grey--text">Post Categories Blog Engineering Profile Tutorial Tips & Trick Growth & Culture Newsroom Promo X Case Studies Training PT Gigaming Intermedia Solusindo BY Isna | July 16, 2020</p>
            <v-btn @click="$router.push({ name: 'blog-id', params: { id: 1 } })" depressed color="orange" class="white--text">Baca Artikel</v-btn>
          </v-col>
          <v-col v-for="(item, index) in 4" :key="index" :cols="$vuetify.breakpoint.mobile ? '12' : '6'">
            <v-img
              src="https://i1.wp.com/refactory.id/wp-content/uploads/2020/02/063-Refactory-HDYBAP017.jpg?fit=768%2C402&ssl=1"
              width="100%"
              contain
              class="rounded-lg"
            />
            <p class="orange--text text-h6 mt-4">GROWTH & CULTURE</p>
            <p class="text-h5">How Did You Become A Programmer?</p>
            <p class="grey--text">Post Categories Blog Engineering Profile Tutorial Tips & Trick Growth & Culture Newsroom Promo X Case Studies Training PT Gigaming Intermedia Solusindo BY Isna | July 16, 2020</p>
            <v-btn @click="$router.push({ name: 'blog-id', params: { id: 1 } })" depressed color="orange" class="white--text">Baca Artikel</v-btn>
          </v-col>
        </v-row>
      </v-col>
      <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '4'">
        <p class="orange--text text-h6">Hubungkan Dengan Kami</p>
        <p class="text-h4 font-weight-bold">Ikuti Refactory</p>
        <v-row>
          <v-col cols="12">
            <v-avatar style="border:#4E8BA1 solid 1px;">
              <v-icon color="#4E8BA1">mdi-linkedin</v-icon>
            </v-avatar>
            <span>LinkedIn</span>
          </v-col>
          <v-col cols="12">
            <v-avatar style="border:#4E8BA1 solid 1px;">
              <v-icon color="#4E8BA1">mdi-facebook</v-icon>
            </v-avatar>
            <span>Facebook</span>
          </v-col>
          <v-col cols="12">
            <v-avatar style="border:#4E8BA1 solid 1px;">
              <v-icon color="#4E8BA1">mdi-youtube</v-icon>
            </v-avatar>
            <span>LinkedIn</span>
          </v-col>
          <v-col cols="12">
            <v-avatar style="border:#4E8BA1 solid 1px;">
              <v-icon color="#4E8BA1">mdi-instagram</v-icon>
            </v-avatar>
            <span>Instagram</span>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'blog'
}
</script>
