<template>
  <v-container fluid class="pa-0">
    <div class="section-1-bg">
      <div class="bg-overlay">
      </div>
      <v-container class="section-1-content">
        <p :class="[$vuetify.breakpoint.mobile ? 'text-h5':'text-h3', 'font-weight-medium white--text text-center']">Tingkatkan <span class="orange--text">skill pemrograman</span></p>
        <p :class="[$vuetify.breakpoint.mobile ? 'text-h5':'text-h3', 'font-weight-medium white--text text-center']">kapan pun, dimana pun.</p>
        <v-row class="d-flex justify-center">
          <v-col :cols="$vuetify.breakpoint.mobile? '12' : '6'">
            <p class="white--text text-center">We’re a brand of passionate software engineers and educators with an engaging curriculum backed by real-world software projects ready to boost your career.</p>
          </v-col>
        </v-row>
        <v-row class="d-flex justify-center">
          <v-col :cols="$vuetify.breakpoint.mobile? '12' : '3'">
            <v-btn @click="$router.push({ name: 'courses' })" class="orange white--text text-capitalize rounded-pill" block depressed>
              Masuk & mulai belajar
            </v-btn>
          </v-col>
          <v-col :cols="$vuetify.breakpoint.mobile? '12' : '3'">
            <v-btn @click="$router.push({ name: 'courses' })" color="orange" class="btn-header-outline text-capitalize rounded-pill" block outlined>
              Daftar Sekarang
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-container class="py-16 my-6">
      <v-row class="d-flex justify-center">
        <v-col :cols="$vuetify.breakpoint.mobile? '12' : '4'" class="py-12">
          <p :class="[$vuetify.breakpoint.mobile?'text-center' : '','text-h5 mb-12']">Bagaimana Refactory<br> Course membantu <br> <span class="orange--text">meningkatkan skill</span><br> anda.</p>
          <v-btn class="orange white--text rounded-pill text-capitalize px-14" :block="$vuetify.breakpoint.mobile" depressed>Pelajari Lebih</v-btn>
        </v-col>
        <v-col  :cols="$vuetify.breakpoint.mobile? '12' : '6'">
          <v-img
            src="https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame.png?w=839&ssl=1%20839w,%20https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame.png?resize=300%2C172&ssl=1%20300w,%20https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame.png?resize=768%2C440&ssl=1%20768w,%20https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame.png?resize=350%2C201&ssl=1%20350w"
            width="100%"
            contain
          />
        </v-col>
      </v-row>
    </v-container>
    <div class="grey lighten-3 pb-8">
      <v-container class="pt-0">
        <v-row class="d-flex justify-end">
          <v-col :cols="$vuetify.breakpoint.mobile? '12' : '5'" class="py-16 my-8">
            <p class="text-h5 font-weight-bold">Kursus pemrograman untuk semua orang tanpa terkecuali</p>
            <p class="grey--text text-darken-5 font-weight-light">Refactory Course dirancang untuk memudahkan setiap orang mampu meningkatkan keahlian dalam software engineering tanpa dibatasi oleh kesulitan akses, kesulitan waktu, batasan keahlian, ataupun usia.</p>
            <p class="grey--text text-darken-5 font-weight-light">Dengan pembelajaran berdasarkan pengalaman nyata pengerjaan project, bagi pelajar/mahasiswa, Refactory Course akan melengkapi keahlian yang sudah diperoleh dalam studi sehingga dapat membuka kesempatan tak terbatas pada karir software engineering.</p>
            <p class="grey--text text-darken-5 font-weight-light">Bagi karyawan atau tenaga profesional, Refactory Course dapat meningkatkan keahlian software engineer dalam menunjang menyelesaikan tugas pekerjaannya tanpa khawatir dengan keterbatasan waktu.</p>
            <p class="grey--text text-darken-5 font-weight-light">Masyarakat secara luas juga dapat memanfaatkan pembelajaran untuk meningkatkan keahlian sehingga mampu berkarya dan mendapat keuntungan karir tanpa khawatir mahalnya belajar.</p>
            <v-btn class="orange white--text rounded-pill text-capitalize px-14" :block="$vuetify.breakpoint.mobile" depressed>Daftar Sekarang</v-btn>
          </v-col>
          <v-col :cols="$vuetify.breakpoint.mobile? '12' : '6'" :class="[$vuetify.breakpoint.mobile? 'order-first' : 'order-1', 'pt-0']">
            <v-img
              src="https://i1.wp.com/refactory.id/wp-content/uploads/2020/01/IMG_1152-1.jpg?fit=690%2C800&ssl=1"
              width="100%"
              contain
            />
          </v-col>
        </v-row>
      </v-container>
      <p class="font-weight-light text-center">MEET OUR GRADUATES</p>
      <p class="text-h3 font-weight-bold text-center">Review</p>
      <p class="text-h5 text-center">Read what our alumni said on <span class="font-weight-bold">Course Report</span></p>
    </div>
    <div>
      <v-container>
        <v-row class="d-flex justify-center">
          <v-col v-for="(item,index) in alumni" :key="index" :cols="$vuetify.breakpoint.mobile? '12' : '4'">
            <v-card height="800">
              <v-card-text>
                <v-img
                  :src="item.user.photo_url"
                  width="100%"
                  contain
                />
                <p class="text-h5 black--text pt-8 font-weight-regular" v-text="item.user.name"/>
                <p class="text-h6 grey--text text-lighten-3 font-weight-regular" v-text="item.user.from"/>
                <v-rating
                  hover
                  length="5"
                  readonly
                  color="orange"
                  class="ml-n2"
                  size="35"
                  :value="item.star"
                ></v-rating>
                <p class="text-h6 black--text text-lighten-3 font-weight-bold"  v-text="item.title"/>
                <p v-text="item.description"/>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="bg-learning">
      <v-row class="d-flex justify-center py-10">
        <v-col :cols="$vuetify.breakpoint.mobile? '12' : '3'">
          <p class="text-h5 mb-0 white--text text-weight-bold text-center">Ready to start Learning?</p>
        </v-col>
        <v-col :cols="$vuetify.breakpoint.mobile? '12' : '3'" :class="[$vuetify.breakpoint.mobile ? 'd-flex justify-center':'']">
          <v-btn class="orange white--text rounded-pill text-capitalize px-14" depressed>Pelajari Lebih</v-btn>
        </v-col>
      </v-row>
    </div>
    <div class="py-12">
      <v-container fluid>
        <p class="text-center orange--text mb-0 text-h6 font-weight-regular">LANGKAH MUDAH</p>
        <p class="text-center text-h5 font-weight-bold py-6">Memulai Belajar di<br>Refactory Course</p>
        <v-row class="d-flex justify-center">
          <v-col :cols="$vuetify.breakpoint.mobile? '12' : '7'">
            <v-img
              src="https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame-3-1.png?w=1457&ssl=1%201457w,%20https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame-3-1.png?resize=300%2C58&ssl=1%20300w,%20https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame-3-1.png?resize=1024%2C199&ssl=1%201024w,%20https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame-3-1.png?resize=768%2C149&ssl=1%20768w,%20https://i0.wp.com/refactory.id/wp-content/uploads/2020/07/Frame-3-1.png?resize=350%2C68&ssl=1%20350w"
              width="100%"
              contain
            />
          </v-col>
          <v-col cols="12" class="d-flex justify-center">
            <v-btn class="orange white--text rounded-pill text-capitalize px-14" depressed>Pelajari Lebih</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-container>
</template>

<script>
export default {
  computed: {
    alumni () {
      return this.$store.getters['alumni/getList']
    }
  }
}
</script>

<style lang="scss" scoped>
  .section-1-bg {
    margin-top: -72px;
    background: url('https://refactory.id/wp-content/uploads/2020/01/IMG_7378.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    z-index: 2;
  }
  .bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: transparent;
    background-image: linear-gradient(110deg, #00256C 10%, #04ACA4 90%);
    opacity: 0.75;
  }
  .section-1-content {
    padding-top: 172px;
    padding-bottom: 262px;
    z-index: 99;
  }
  .v-application .btn-header-outline span{
    color: white!important;
  }

  .v-application .btn-header-outline:hover{
    background: #e48800;
  }

  .bg-learning{
    background: linear-gradient(90deg, #127BCA 0%, #35B4AE 100%);
  }
</style>
