<template>
  <v-container fluid class="pa-0">
    <div class="section-1-bg">
      <div class="bg-overlay">
      </div>
      <v-container class="section-1-content">
        <p :class="[$vuetify.breakpoint.mobile ? 'text-h5 text-center':'text-h3', 'font-weight-medium white--text']">Empowering <span class="orange--text">People</span></p>
        <p :class="[$vuetify.breakpoint.mobile ? 'text-h5 text-center':'text-h3', 'font-weight-medium white--text']">Through Programming</p>
        <v-row :class="[$vuetify.breakpoint.mobile ? 'd-flex justify-center' : '']">
          <v-col :cols="$vuetify.breakpoint.mobile? '12' : '6'">
            <p :class="[$vuetify.breakpoint.mobile ? 'text-center' : '', 'white--text']">Refactory adalah perusahaan edukasi dan teknologi yang menyediakan layanan lengkap berupa course maupun custom training yang materinya dapat disesuaikan dengan kebutuhan teknologi dan bisnis perusahaan Anda.</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '3'">
            <v-btn class="orange white--text text-capitalize rounded-pill" block depressed>
              Temukan Solusi Anda
            </v-btn>
          </v-col>
          <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '3'">
            <v-btn color="orange" class="btn-header-outline text-capitalize rounded-pill" block outlined>
              Tingkatkan Skill anda
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="px-12 d-flex justify-center mt-14">
          <v-col cols="12" class="d-flex justify-center mt-14">
            <span class="text-h6 white--text font-weight-light">PARTNER EKSKLUSIF KAMI</span>
          </v-col>
          <v-col v-for="(item, index) in clients" :key="index" :cols="$vuetify.breakpoint.mobile ? '4' : '2'" class="d-flex justify-center">
            <div>
              <v-img
                :src="item.photo_url"
                width="100"
                height="60"
                contain
              />
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-container class="py-12">
      <v-row>
        <v-col cols="12" class="d-flex justify-center">
          <p :class="[$vuetify.breakpoint.mobile ? 'text-h5 text-center' : 'text-h4', 'font-weight-bold']">Apa Yang Refactory Dapat Bantu?</p>
        </v-col>
        <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '6'" class="text-center px-12">
          <div class="d-flex justify-center mb-3">
            <v-img
              :src="require('@/assets/image/material_approval.png')"
              width="40"
              height="40"
              contain
            />
          </div>
          <p class="text-h5">Memperkuat Tim Engineer Anda</p>
          <p class="grey--text text-darken-2">Bisnis di jaman modern membutuhkan keterampilan pengembangan terbaik untuk meningkatkan skala produk. Kami dapat mempersiapkan course dan juga dapat menyediakan tim yang menangani kebutuhan digital Anda.</p>
        </v-col>
        <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '6'" class="text-center px-12">
          <div class="d-flex justify-center mb-3">
            <v-img
              :src="require('@/assets/image/material_bolt.png')"
              width="40"
              height="40"
              contain
            />
          </div>
          <p class="text-h5">Wujudkan Software Impian Anda</p>
          <p class="grey--text text-darken-2">Kami adalah perusahaan One-Stop IT Solution untuk proyek Anda, membantu di setiap tahap mulai dari menyusun ide, melalui desain dan pengembangan aplikasi seluler, situs web dan aplikasi desktop, hingga peluncuran produk.</p>
        </v-col>
      </v-row>
    </v-container>
    <div class="section-2-bg px-12 py-12 text-center">
      <p class="text-h6 font-weight-light grey--text text-darkent-4">INSIGHT TERBARU</p>
      <p class="text-h5 font-weight-bold">Knowledge Sharing</p>
    </div>
    <div class="d-flex justify-center py-6">
      <div class="mb-12">
        <span class="blue--text text-accent-2">Lihat Semua</span>
        <v-icon color="blue accent-2">mdi-arrow-right</v-icon>
      </div>
    </div>
    <div class="py-14 grey lighten-3">
      <p class="text-center text-h4 font-weight-bold">AS SEEN ON</p>
      <v-row class="justify-center">
        <v-col v-for="(item, index) in media" :key="index" :cols="$vuetify.breakpoint.mobile ? '6' : '2'" class="d-flex justify-center">
          <div>
            <v-img
              class="filter-image-media"
              :src="item.photo_url"
              width="100"
              height="60"
              contain
            />
          </div>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
export default {
  computed: {
    clients () {
      return this.$store.getters['patner/getList']
    },
    media () {
      return this.$store.getters['media/getList']
    }
  }
}
</script>

<style lang="scss" scoped>
  .section-1-bg {
    margin-top: -72px;
    background: url('https://refactory.id/wp-content/uploads/2020/01/hero-homepage.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    z-index: 2;
  }
  .bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: transparent;
    background-image: linear-gradient(110deg, #00256C 10%, #04ACA4 90%);
    opacity: 0.75;
  }
  .section-1-content {
    padding-top: 172px;
    z-index: 99;
  }
  .v-application .btn-header-outline span{
    color: white!important;
  }
  .v-application .btn-header-outline:hover{
    background: #e48800;
  }
  .section-2-bg{
    background: url('https://refactory.id/wp-content/uploads/2020/01/ripple-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
  }
  .filter-image-media {
    filter: brightness( 100% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
  }
  .filter-image-media:hover {
    filter: none;
  }
</style>
