<template>
  <v-container fluid class="pa-0">
    <div class="section-1-bg py-16">
      <v-container class="section-1-content py-16 my-16">
        <p class="text-h3 font-weight-medium white--text text-center" v-text="list[0].title"/>
        <v-row class="d-flex justify-center">
          <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '6'">
            <p class="white--text text-center" v-text="detail.short_description"/>
          </v-col>
        </v-row>
        <v-row class="d-flex justify-center">
          <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '3'">
            <v-btn class="orange white--text text-capitalize rounded-pill" :block="$vuetify.breakpoint.mobile" depressed>
              Mulai belajar
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div class="py-16">
      <p class="text-center text-h5">Tentang Course</p>
      <v-row class="d-flex justify-center">
        <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '4'">
          <p class="text-center">Hai Refactorian, pada course ini kita akan belajar mengenal apa itu HTML dan CSS, mengenal dasar-dasarnya, mengetahui bagaimana cara menggunakannya dan lain-lain. simak videonya dan jangan lupa untuk praktikan.</p>
        </v-col>
      </v-row>
    </div>
    <v-container class="py-16">
      <p class="text-center text-h5">Materi Course</p>
      <v-list v-for="(item, index) in detail.materi_course" :key="index" dense class="pa-0 mt-4">
        <v-list-item class="grey lighten-2">
          <span class="ml-2 font-weight-bold">
            {{item.section}}
          </span>
        </v-list-item>
        <v-list-item v-for="(child, i) in item.data" :key="i" class="grey lighten-3 mt-1">
          <v-icon>
            mdi-youtube
          </v-icon>
          <span class="ml-2">
            {{child.title}}
          </span>
          <v-spacer />
          <v-btn depressed small class="orange white--text">Start</v-btn>
        </v-list-item>
      </v-list>
    </v-container>
    <v-container>
      <v-row class="d-flex justify-center">
        <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '4'">
          <v-img
            :src="detail.quistion_photo"
            width="100%"
            contain
          />
        </v-col>
        <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '5'" class="py-12">
          <p class="text-h5" v-text="detail.quistion" />
          <p v-text="detail.answer"/>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
export default {
  layout: 'courses',
  computed: {
    list () {
      return this.$store.getters['courses/getList']
    },
    detail () {
      return this.$store.getters['courses/getDetail']
    }
  }
}
</script>

<style lang="scss" scoped>
  .section-1-bg {
    background: url('https://cdn.fs.teachablecdn.com/RBZMT9GSASWBQNBzWhJM');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: relative;
    z-index: 2;
  }
</style>
