<template>
  <v-container>
    <v-row>
      <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '8'">
        <v-menu offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              depressed
              dark
              v-bind="attrs"
              v-on="on"
              class="white rounded-xl grey--text text--ligten-1 text-capitalize px-12"
            >
              Category: <span class="orange--text">{{category}}</span>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="(item, index) in option"
              :key="index"
              @click="selectCategory(item.title)"
            >
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>
      <v-col :cols="$vuetify.breakpoint.mobile ? '12' : '4'">
        <v-text-field outlined dense background-color="white" placeholder="Find a course" append-icon="mdi-magnify"/>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="(item, index) in courses" :key="index" :cols="$vuetify.breakpoint.mobile ? '12' : '4'" >
        <v-card class="rounded-lg" @click="$router.push({ name: 'courses-id', params: { id: 1 } })">
          <v-card-text class="pa-0">
            <v-img
              class="rounded-t-lg"
              :src="item.photo_url"
              width="100%"
              contain
            />
            <div class="pa-4">
              <p class="title font-weight-bold teal--text text-lighten-3" v-text="item.title"/>
              <p v-text="item.short_description"/>
            </div>
          </v-card-text>
          <v-card-actions class="px-4 d-flex justify-start">
            <v-avatar size="30">
              <v-img
                :src="item.user.photo_url"
                contain
              />
            </v-avatar>
            <span class="ml-2" v-text="item.user.name"/>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'courses',
  data () {
    return {
      category: 'All',
      option: [
        {
          title: 'All'
        },
        {
          title: 'Web'
        }
      ]
    }
  },
  computed: {
    courses () {
      return this.$store.getters['courses/getList']
    }
  },
  methods: {
    selectCategory (val) {
      this.category = val
    }
  }
}
</script>
